<!DOCTYPE html>
<html>
<head>
    <title>CV Generator</title>
</head>
<body>
    <h2>Generate CV</h2>

    <form action="/generate" method="POST">
        Full Name: <input type="text" name="full_name"><br><br>
        Arabic Name: <input type="text" name="full_name_ar"><br><br>
        Gender: <input type="text" name="gender"><br><br>
        Age: <input type="text" name="age"><br><br>
        Nationality: <input type="text" name="nationality"><br><br>
        Religion: <input type="text" name="religion"><br><br>
        Marital Status: <input type="text" name="marital_status"><br><br>
        Passport No: <input type="text" name="passport_number"><br><br>
        Profession: <input type="text" name="profession"><br><br>
        Salary: <input type="text" name="monthly_salary"><br><br>
        Height: <input type="text" name="height_cm"><br><br>
        Weight: <input type="text" name="weight_kg"><br><br>

        <button type="submit">Generate PDF</button>
    </form>

</body>
</html>

